<ion-view title="Driver_2">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <form class="list"></form>
        <div style="text-align:center;">
            <img src="img/GsyRDsfOSqaPzB8YGelq_driver.jpg" width="100%" height="auto">
        </div>
        <ion-list></ion-list>
        <ion-list>
            <ion-item>Name: Mr Abu</ion-item>
            <ion-item>Driver ID: 7272</ion-item>
            <ion-item class="range range-positive">Safety Rate
                <input type="range" value="50" min="0" max="100">
            </ion-item>
        </ion-list>
        <div style="text-align:center;">
        <a ui-sref="tabsController.drivers" class="button button-positive ">Back</a>
    </div>
    </ion-content>
</ion-view>