<ion-view title="GET-IT">
    <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller = "MapController">
    
        <!-- <div class="list card" style="text-align:center;"> -->
            
                <div id="map" data-tap-disabled="true"></div>
            
        <!-- </div> -->
        <div class="list card">
            <div class="item item-divider">Estimated Time Arrival</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Vacancy Notification</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>